body {
    font-family: Arial, sans-serif;
    background-color: white;
}

* {
    box-sizing: border-box;
}

#issuu-div {
    height: 200px;
    display: block;
}

.example {
    margin: 10px 10px;
    overflow: auto;
    display: block; //width: 350px;
    border: 1px solid lightgrey;
    padding: 0px 10px;
}

.issuu-title {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 20px;
}

.issuu-description {
    font-style: italic;
    font-family: Arial, sans-serif;
}

.issuu-tn {
    width: 195px;
    float: left;
    margin: 0 10px 0 0;
}

.issuu-viewer {
    width: 100%;
}

.iconJrnl {
    float: left;
    width: 60px;
    margin: 0 10px 0 0;
    border: 1px solid #f5f5f5;
    ;
}

.stream-list .publication .publication-content,
.stream-list-folder .publication .publication-content {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    margin-bottom: 10px;
    display: flex; //width: 221.3px;
}

.stream-list .publication .cover {
    //width: 100%;
    height: 287px;
    position: relative;
    display: inline-block; //background-color: #f7f7f7;
    box-shadow: 5px 1px 8px rgba(0, 0, 0, 0.2);
}

.stream-list .publication .metadata,
.stream-list-folder .publication .metadata {
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.stream-list .publication .title,
.stream-list-folder .publication .title {
    overflow: hidden;
}

.ui-stream h3.title,
.ui-stream .h3.title {
    margin: 0;
}

h3.title,
.h3.title {
    font-weight: 500;
}

h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Trebuchet, "Trebuchet MS", Arial, sans-serif;
    font-weight: 400;
}

h3,
.h3 {
    font-size: 16px;
}

.ui-stream>.white {
    background: #EFECE6;
}

.stream-list>div {
    //visibility: hidden;
    //position: absolute;
    //width: 221px;
}

.stream-list .stack {
    display: block;
    width: 221px;
}

.stream-list .publication .publication-content {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.stream-list .publication .cover {
    //width: 100%;
    height: 287px; //position: absolute;
    display: inline-block; //background-color: #f7f7f7;
    box-shadow: 5px 1px 8px rgba(0, 0, 0, 0.2);
}

.stream-list .publication .cover-tn {
    height: 130px; //position: absolute;
    //transition: position 0.5s ease;
    transition: transform rotate 0.5s ease;
    background-color: #f7f7f7;
}

.stream-list .publication .cover-tn:hover {
    //position: relative;
}

.stream-list .publication .cover-wrap {
    display: block;
}

.stream-list .publication .cover-wrap .centerer {
    position: absolute;
    display: inline-block; //top: 0;
    //left: 0;
    //width: 100%;
    //height: 100%;
    text-align: center;
    transition: -webkit-transform 100ms ease-out 20ms;
    transition: transform 100ms ease-out 20ms;
    -webkit-backface-visibility: hidden;
}

.stream-list .publication .cover-wrap .centerer:first-child {
    -webkit-transform: rotate(-8deg);
    -ms-transform: rotate(-8deg);
    transform: rotate(-8deg);
    display: inline-block;
}

.stream-list .publication .cover-wrap .centerer:nth-child(n+2) {
    -webkit-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
}

.stream-list .publication .cover-wrap .centerer:nth-child(n+3) {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg)
}

.stream-list .publication .cover-wrap .hoverer {
    width: 100%;
    height: 100%;
}

.stream-list .publication .cover-wrap .ready {
    transition: transform 100ms ease-out 20ms;
}

.stack-cover .padding {
    padding: 5px;
}

#pages {
    margin: 50px auto;
    display: flex;
    overflow: auto;
    width: 50%;
}

.pagination a,
.pagination button {
    //color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active,
.pagination button.active {
    background-color: #F36D5D;
    color: white;
}

.pagination a:hover:not(.active),
.pagination button:hover:not(.active) {
    background-color: #ddd;
}

#footer {
    margin: 50px auto;
    display: block;
    text-align: right;
}

#mainContent {
    margin-top: 20px;
}

header {
    margin: 0px auto 50px;
    overflow: auto;
    display: block;
}
